@font-face {
  font-family: Vipna;
  src: url('Vipnagorgialla\ Bd.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vipna;
}

html,
body {
  width: 100%;
  height: 100%;
}

h1{
  color:#fff;
  text-align: center;
  padding:5px 8px;
  background:linear-gradient( lightblue, darkslategray);
}

#main {
  height: 100%;
  background-color: lightblue;
  padding: 30px;

  display:flex;
  justify-content: center;
  gap:20px;
  flex-wrap: wrap;
}

.box {
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom {
  height: 40%;
  width: 100%;
  color: #fff;
  background: linear-gradient(transparent, black);
  position: absolute;
  bottom: -40%;

  transition: all ease 0.5s;

  display: flex;
  align-items: center;
  justify-content: space-around;
}


.box:hover .bottom {
  bottom: 0;
}
