@font-face {
  font-family: sf;
  src: url("sf-pro-text_regular.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sf;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  color: #fff;
}

#nav {
  height: 10%;
  width: 100%;
  background-color: rgb(37, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-section {
  height: 80%;
  width: 100%;
  text-align: center;
  padding: 30px;
  /* background-image: url("./images/hero-iPhone-17Pro.jpg"); */
  background-position: center;
  background-size: cover;
}
.hero-section h1 {
  font-size: 3.4rem;
  font-weight: 900;
}
.hero-section p {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing:-1px;
}

button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 25px 25px;
  border:1px solid transparent;
}

#link{
    height:50px;
    display:inline-block;
}

#link button:nth-child(1) {
  color: #fff;
  background-color: #0077ed;
}

#link button:nth-child(2) {
  color: #0077ed;
  background: transparent;
  border: 1px solid #0077ed;
  
}

#link button:nth-child(2):hover {
    color: #fff;
    background-color: #0077ed;
    border:1px solid transparent;
    cursor:pointer;
}

#iphone-pro{
    background-image:url('./images/hero-iPhone-17Pro.jpg');
}

#iphone-air{
    background-image: url('./images/hero_iphone_air.jpg');
}

#iphone-promo{
    background-image: url('./images/promo_iphone_17Pro.jpg');
}
#iphone-watch{
    background-image: url('./images/promo_apple_watch.jpg');
}
#iphone-airpod{
    background-image: url('./images/promo_airpodspro.jpg');
}
#watch-promo{
    background-image: url('./images/promo_apple_watch_3.jpg');
}
#tradein{
    background-image: url('./images/promo_iphone_tradein.jpg');
}
