html,
body {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100vh;
}
nav {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
}

.nav-left {
  width: 40%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 0 0.5vw; */
}

.nav-items {
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1vw;
  padding: 0.85;
  font-size: 0.85rem;
}

.nav-items h4:hover {
  opacity: 0.5;
}
i {
  font-size: 1.5rem;
  font-weight: 100;
  color: #333;
}

.items {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sign-up {
  font-weight: bold;
  font-size: 0.85rem;
  margin-right: 1vw;
}

.log-in-btn {
  background-color: #000;
  color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 25px 25px;
  font-family: bold;
  font-size: 0.85rem;
  margin-right: 1.8vw;
}
