* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  top: 0;
  padding: 1rem;
  color: royalblue;
  background-color: aliceblue;
  border: 2px solid #555;
}

.container {
  height: 50%;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
}

.box {
  display: grid;
  place-content: center;
  width: 24%;
  height: 92.5vh;
  color: #100f0f;
  background-color: rgba(144, 238, 144, 1);
}
.box h2{
font-size: 1.2rem;

}
.result {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #222;
  display: grid;
  place-items: center;
}

#change {
  color: #fff;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 6px 20px 5px rgba(80, 75, 75, 0.844);
  background-color: lightsalmon;
  border: 3px solid rgb(252, 252, 252);
  cursor: pointer;
}
.copy-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  padding: 5px 10px;
  color: whitesmoke;
  background-color: #555;
  border-radius: 10px;
   border: 2px solid rgb(214, 212, 212);
  box-shadow: 0 2px 10px 5px rgba(80, 75, 75, 0.15);
}

