@font-face {
  font-family: Cool;
  src: url(Coolvetica\ Rg.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cool;
  font-weight: 300;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav-left h3 {
  font-size: 2rem;
}

.nav-center {
  display: flex;
  column-gap: 2rem;
  padding-left: 1rem;
}
.nav-right {
  display: flex;
  padding: 0.8rem;
  column-gap: 1.5rem;
}
.nav-right > h4 {
  padding: 10px;
}

#call-btn {
  width: 8rem;
  background-color: #222;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px 10px;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr;
  /* gap:10px; */

  grid-template-areas:
    "header  header header"
    "left-box right-box right-box"
    "left-box bottom-left bottom-right";
}

#header {
  grid-area: header;
  background-color: cornflowerblue;
}
#left-box {
  grid-area: left-box;
  background-color: darkslateblue;
}
#right-box {
  grid-area: right-box;
  background-color: darkturquoise;
}
#bottom-left {
  grid-area: bottom-left;
  background-color: coral;
}
#bottom-right {
  grid-area: bottom-right;
  background-color: greenyellow;
}

#btn{
  width: 150px;
  background-color: transparent;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
  border-radius: 25px 25px;
  border: 1px solid #222;
  font-size: 1rem;
  position: fixed;
  left: 28%;
  top: 51%;
}

#left-box {
  padding-left: 50px;
}
.heading {
  width: 90%;
  background-color: burlywood;
  font-size: 2.5rem;
  /* padding: 2rem; */
  text-align: start;
}

#intro p{
    width:50%;
    line-height: 20px;
    font-weight:100;
    padding-bottom: 1rem;
}

#brand{
    display:flex;
    column-gap: 2rem;
    letter-spacing: 2px;
}

#intro{
    margin-top:2.5rem;
}

.contact{
    margin-top: 2rem;
}

a{
    color:#222;
    font-weight: lighter;
    font-size: 1rem;
    margin-left:18px;
}

.image{
    width:100%;
    margin:20px auto;
}

img{
    width:100%;
    height:300px;
    object-fit: cover;
    border-radius: 20px;
}

#bottom-right, #bottom-left{
    padding: 5px;
}
