@font-face {
  font-family: Cool;
  src: url(Coolvetica\ Rg.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cool;
  font-weight: lighter;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav-left h3 {
  font-size: 2rem;
}

.nav-center {
  display: flex;
  column-gap: 2rem;
  padding-left: 1rem;
}
.nav-right {
  display: flex;
  padding: 0.8rem;
  column-gap: 1.5rem;
}
.nav-right > h4 {
  padding: 10px;
}

#call-btn {
  width: 8rem;
  background-color: #222;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px 10px;
}

.grid-container {
  width: 70vw;
  margin: auto 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 100px 300px 250px;
  gap: 10px;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 30px;

  grid-template-areas:
    "header  header header"
    "left-box right-box right-box"
    "left-box bottom-left bottom-right";
}

#header {
  grid-area: header;
}
#left-box {
  padding: 0.7rem 10px;
  grid-area: left-box;
}
#right-box {
  grid-area: right-box;
}
#bottom-left {
  grid-area: bottom-left;
}
#bottom-right {
  grid-area: bottom-right;
}

#btn {
  display: inline-block;
  width: 150px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 25px 25px;
  border: 1px solid #222;
  background-color: transparent;
}

.heading {
  height: 60%;
  width: 90%;
  font-size: 4rem;
  font-weight: lighter;
  overflow: hidden;
  padding: 10px 15px;
}

#intro p {
  width: 350px;
  margin-bottom: 1rem;
  line-height: 20px;
  font-weight: lighter;
}

#brand {
  width: 50%;
  display: flex;
  column-gap: 2rem;
  letter-spacing: 2px;
}

#intro {
  margin-top: 2.5rem;
}

.contact {
  margin-top: 2rem;
}

a {
  color: #222;
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 18px;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

#right-box img {
  height: 300px;
}
