* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 1600px;
}

/* Header Section of youtube */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}

.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.left-section {
  width: 170px;
  display: flex;
  align-items: center;
}

.icons {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.yt-logo {
  height: 56px;
  width: 123px;
  padding: 18px 14px 18px 16px;
}
.youtube-logo {
  height: 20px;
  margin-right: 50px;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 70px;
  max-width: 650px;
}
.search-bar {
  flex: 1;
  height: 40px;
  padding: 0 10px 0 16px;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #c9c9c9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
}

.search-bar::placeholder {
  font-size: 16px;
  font-weight: 400;
}
.search-bar:focus {
  border-color: #1c62b9;
}

.search-icon {
  margin-top: 2%;
}

.search-btn {
  height: 40px;
  width: 66px;
  margin-left: -1px;
  margin-right: 16px;
  border-left: none;
  border: 1px solid #c9c9c9;
  border-radius: 0 20px 20px 0;
  background-color: #f8f8f8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover,
.mic-btn:hover {
  background-color: #f0f0f0;
}

.mic-icon {
  width: 25px;
  margin-top: 4px;
}

.mic-btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.mic-btn:hover {
  background-color: #f0f0f0;
}

.right-section {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-btn {
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: 95px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-right: 15px;
  cursor: pointer;
}

.create-icon {
  margin-left: 9px;
}

.current-profile-picture {
  height: 36px;
  width: 36px;
  border-radius: 18px;
  margin-right: 20px;
  cursor: pointer;
}
.bell-icon {
  height: 25px;
  width: 25px;
}

.notification-btn {
  margin-right: 35px;
}

/* menu sidebar section of  youtube */
aside {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-pages {
  width: 66px;
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px 14px;
  border-radius: 10px;
}
.sidebar-pages:hover {
  background-color: #f0f0f0;
}

.side-text {
  font-size: 10px;
}

.home-icon {
  margin: 12px;
}

.short-icon {
  margin: 10px 12px;
}
.subs-icon {
  margin: 0 8px;
}
.me-icon,
.side-text {
  margin: 0 9px;
}

/* Main video section of youtube */
main {
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 30px;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: border-radius 0.3s ease;
  cursor: pointer;
}

.thumbnail-row {
  margin-top: 15px;
  position: relative;
}
video:hover{
  border-radius: 0;
  opacity:1;
}
video {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  position: absolute;
  left:0;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.video-duration {
  position: absolute;
  right: 16px;
  bottom: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
}

.video-preview {
  cursor: pointer;
  margin-bottom: 16px;
}

.video-title {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  font-size: 14px;
  font-weight: 500;
  color: #606060;
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 12px;
}

.profile-picture {
  width: 100%;
  border-radius: 25px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}
